/* Yleiset määritykset */
* {
    box-sizing: border-box;
    margin: 0px;
    font-family: "roboto", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #dddddd;
    background: linear-gradient(to top left, #808080 -140%, #000000 195%); 
}
article {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Yleiset määritykset loppuu */

/* Navigointipalkin määritykset alkaa */
nav {
    z-index: 10;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
nav .buttons {
    max-width: 960px;
    margin: auto;
}
ul.nav {
    float: right;
    text-align: center;
    list-style-type: none;
    margin: 0em;
    overflow: hidden;
    text-shadow: 1px 1px 3px #000000;
}
nav .ul_float {
    float: left;
}
ul.nav li {
    display: inline-block;
    font-size: 1.5em;
}
ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.4em;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
ul.nav li a:hover {
    text-decoration: underline;
}
/* Navigointipalkin määritykset loppuu */

/* Sticky määritykset alkaa */
.sticky {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(to top left, #808080 -77%, #000000 105%);
}
/* Sticky määritykset loppuu */

/* Headerin määritykset alkaa */
header .heading_container {
    padding-top: 6.5em;
    padding-bottom: 5.5em;
    text-align: center;
    color: #fff;
    /*  "Kyle Canyon Road - IMG_1215" by Nicola since 1972 https://www.flickr.com/photos/15216811@N06/6023029145 is licensed under CC BY 2.0. To view a copy of this license, visit https://creativecommons.org/licenses/by/2.0/?ref=openverse.  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.4)), url('../images/6023029145_969f792273_o.jpg');
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
/* Headerin määritykset loppuu */

/* Figure määritykset alkaa */
figure {
    flex: 33%;
    padding: 20px;
    max-width: 300px;
}
/* Figure määritykset loppuu */

/* Otsikko osion määritykset alkaa */
.otsikko_container {
    max-width: 100%;
    height: auto;
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: center;
    color: #fff;
    /*  "Kyle Canyon Road - IMG_1215" by Nicola since 1972 https://www.flickr.com/photos/15216811@N06/6023029145 is licensed under CC BY 2.0. To view a copy of this license, visit https://creativecommons.org/licenses/by/2.0/?ref=openverse.  */
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.4)), url('../images/6023029145_969f792273_o.jpg');
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
/* Otsikko osion määritykset loppuu */

/* Työhistoria aikajanan määritykset alkaa */
.timeline {
    position: relative;
    max-width: 960px;
    margin: 1em auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(24, 123, 156);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.1875em;
    margin-top: 1em;
    margin-bottom: 5%;
} 
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(53, 55, 56);
    border: 4px solid rgb(24, 123, 156);;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 0;
}
  .right {
    left: 50%;
}
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ddd;
}
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ddd transparent transparent;
}  
.right::after {
    left: -16px;
}
.content_aikajana {
    padding: 1.25em 1.875em;
    background-color: #ddd;
    position: relative;
    border-radius: 6px;
}
/* Työhistoria aikajanan määritykset loppuu */

/* Harrastusten määritykset alkaa */
.kappale_harrastus {
    text-align: left;
    font-size: 1.2em;
    color: white;
    flex: 66%;
    padding: 0.9em;
    min-width: 400px; 
    color:black;
    text-align: center;
}
.kortti {
    box-shadow: 0 4px 8px 0 black;
    max-width: 299px;
    height: auto;
    text-align: center;
    font-family: arial;
    background-color: #ddd;
    border-radius: 0.5em;
    overflow: hidden;
    font-size: 1em;
    padding: 2% 2%;
    margin-top: 0.5em;
    float:left; 
    margin-right: 0.7em;
}
.kortti_oikealle {
    box-shadow: 0 4px 8px 0 black;
    max-width: 299px;
    height: auto;
    text-align: center;
    font-family: arial;
    background-color: #ddd;
    border-radius: 0.5em;
    overflow: hidden;
    font-size: 1em;
    padding: 2% 2%;
    margin-top: 0.5em;
    float: right;
}
/* Harrastusten määritykset loppuu */

/* Ankkuri elementin määritykset alkaa */
a.ankkuri {
    clear: both;
    position: relative;
    top:-48px;
    display: block;
    height: 0;
    width:0;
}
/* Ankkuri elementin määritykset loppuu */

/* Footer määritykset alkaa */
footer {
    clear: right;
    background-color: #0f0f0f;
    color: white; 
    text-align: center;
    width: 100%;
    margin: 3em auto 0em;

}
footer address {
    padding: 1em;
}
/* Footer määritykset loppuu */ 

/* Mobiilinäkymän määritykset alkaa*/ 
@media screen and (max-width: 800px) {
    ul.nav li {
        display: inline-block;
        font-size: 0.95em;
        }
    
        .kortti {
            margin-top: 3%;
            margin-left: 12%; 
            margin-bottom: 5%;
        }
        .kortti_oikealle {
            margin-right: 13%;
            float: left;
            margin-left: 12%;
        }
        header h1 {
            font-size: 3.1em;
        }
        header h2 {
            font-size: 2em;
            padding-top: 2%;
        }
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent #ddd transparent transparent;
    }
    .left::after, .right::after {
        left: 15px;
    }
    .right {
        left: 0%;
    }
}
 /* Mobiilinäkymän määritykset loppuu*/